/build/
/dist/
/Prova 1 - Parte I/Prova 1 - Parte I/build/
/Prova 1 - Parte I/Prova 1 - Parte I/dist/
/Prova 1 - Parte I/Prova 1 - Parte I/nbproject/private/
/src/Prova 1 - Parte I/Prova 1 - Parte I/build/
/src/Prova 1 - Parte I/Prova 1 - Parte I/dist/
/src/Prova 1 - Parte I/Prova 1 - Parte I/nbproject/private/
/Prova 1 - Parte I/build/
/Prova_1_-_Parte_I/nbproject/private/
/Prova_1_-_Parte_I/build/
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
